
.caurousel-indi{
  margin-block-start: 0em!important;
    margin-block-end: 0em!important;
    margin-inline-start: 0px!important;
    margin-inline-end: 0px!important;
    padding-inline-start: 0px!important;
    margin-right: 5%; 
    margin-left: 5%;
    
}

.carousel-control-next-icon {
  background-image: url("./../../Img/next.png") !important;
  /* color: black; */
  }

.carousel-style{
  
}
.control_style{
  position:relative !important;
  margin: 0px 10px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 40px !important;
  height: 40px !important;
  
}

.carousel-control-prev-icon{
  background-image: url("./../../Img/pre.png") !important;
}

.div_relative{
  position: relative; 
}

.div_absolute{
  position: absolute;
  top: 20px;
  left:20px
}
.carousel-control-next, .carousel-control-prev {
width: 10% !important;
}

.carousel-caption {
padding: 0 !important;
}