.recombar_contrainer{
    width: 80%;
    height: 480px;
    margin: 0px auto;
}
.link_Recommend{
    margin-top: 10px;
    text-align: left;
    height: 15%;
}

.A_tag_Recommend{
    margin-left: 63px;
    font-size: 26px;
    color: rgb(252, 0, 0)!important;
    text-decoration: underline !important;
}

.recommend_Card_bar{
    display: flex;
    padding-left: 30px;
}
