.nameUser {
    margin: auto;
}

.modal-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.linkGoogleMap {
    text-align: right;
    font-size: small;
}

.Date {
    display: flex;
}

.Date >div {
    margin: auto;
    font-size: x-large;
    border: 1px solid black;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;

}

.CalendarTitle {
      font-size: large;
     text-align: left;
     margin-bottom: 10px;
}

.PlacetTile{
    font-size: larger;
    margin-bottom: 20px;
}

