.App-Header{
    height: 100px ;
    width: 100%!important;
}

.App-Container{
    padding-right: 0px!important;
    padding-left:  0px!important;
    margin-right:  0px!important;
    margin-left:  0px!important;
    max-width: 100%!important;
}

.div_relative{
    position: relative; 
}

.div_absolute{
    position: absolute;
    top: 20px;
    left:20px
}


.nb{
    z-index: 999;
    overflow: visible   ;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width:1920px; /* Full width */
    background: rgb(255, 255, 255);
    height: 80px;
}