.outside{
    text-align: left;
    width: 400px;
    height: max-content;
    padding: 30px;
    background: white;
    box-shadow: 5px 5px 4px rgba(22, 19, 19, 0.404);
    border-radius: 5px;
}

.Title{
    text-align: center;
    font-size: 30px;
    color: red !important;
}

.ci_co{
    display: flex;
}

.guests_input{
    display: flex;
}

.link{
    text-align: right;
}

.btn_random{
    border:2px solid  rgb(255, 0, 0) !important;
    width: 400px;
    height: 50px;
    font-size: 20px !important  ;
    text-align: center;
    margin-top: 20px;   
    color: rgb(230, 16, 16) !important;
    background-color: rgb(255, 255, 255) !important;
    font-weight: 500 !important;
}

.div_form{
    display: inline-block;
    text-align: left;
    width: 400px;
    position: absolute;
    top: 120px;
    left:200px

}

.btn_search{
    background: red !important;
    
}

.div_btn_search{
    text-align: right;
}

.btn_submit{
    width: 50%;
    margin: 0 auto;
}