.outside{
    border: 1px black solid;
    text-align: left;
    width: 400px;
    height: max-content;
    padding: 30px;
    background: white;
}

.Title{
    text-align: center;
    font-size: 30px;
    color: red !important;
}

.ci_co{
    display: flex;
}

.guests_input{
    display: flex;
}

.link{
    text-align: right;
}

.btn_random{
    width: 400px;
    padding: auto;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    border: 2px black solid;
    background-color: rgb(20, 216, 216) !important;
    color: black !important;
}

.div_form{
    display: inline-block;
    text-align: left;
    width: 400px;
    position: absolute;
    top: 80px;
    left:200px

}

.btn_search{
    background: red !important;
    
}

.div_btn_search{
    text-align: right;
}