.resultContent_res {
    border:1px solid black;
    margin:0;
    width: auto;
}

.randomRoomImg_res, .googlePlusImg_res, .facebookImg_res, .heartImg_res, .starRating_res{
    width: fit-content;
    height: fit-content;
}

.randomRoomImg_res{
    width: 100%;
    border-radius:5px;
}

.roomInfoTitle_res{
    border-radius:5px;
    margin-top: 2px;
    background: black;
    padding: 5px;
    width: fit-content;
    color:white;
}

.body_res{
    display: block;
}

.body_res > div {
    margin-left: 15px;
    padding: 0px;
    margin-bottom: 5px;
}

.share_res {
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    font-size: 15px;
}

.linkShare_res {
    border:1px solid black;
    height: 30px;
    margin-left: 5px;
}

.infoShare_res {
    margin-top: 5px;
    display: flex;
    width: 50%;
}

.iconShare_res {
    margin-left: 20px;
    width: fit-content;
    padding: 0;
}

.copyBtn_res {
     border:1px solid black;
    background: black;
    color: white;
     height: 30px;
}

.ratingShow_res {
    display: flex;
    margin-left: 5px;
    width: 40%;
}

.favoriteList_res {
    margin-left:15px;
    margin-bottom:10px;
    width: 40%;
    display: flex;
}

.prices_res{
    display: flex;
}

.prices_res >div {
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.percentSale_res {
    border:1px solid black;
}

.titleRating_res {
    margin-right: 1px;
}

.salePrice_res {
    color: lightslategrey;
}

.randomAgain_res {
    background:  #31D2B7;
}