.infoAvatar {
  text-align: center;
}

.avatar {
  width: 150px;
  height: 148px;
}

.infoUser {
    font-size: medium;
}

.ui-column-title {
    font-weight: bold;
}
.street{
    border: 2px solid black;
    font-weight: bold;
}