.form_book{
    width: 80%;
    height: 1000px;
    margin: 10px auto;
    display: flex;
   
}
.form_book_info{
    width: 50%;
    height: 100%;
    border: solid black 1px;
}

.form_book_payment{
    width: 50%;
    height: 100%;
    border: solid black 1px;

}

.description{
    height: fit-content;
}

.Line {
    stroke:rgb(0, 0, 0);stroke-width:7;
}

.titleContent{
    margin-left: 90px;
}

.DateBook {
    margin-left: 25%;
    height:80px;
}

.guests_input{
     margin-left: 25%;
     width: 45%;
}    

._input{
    height: 100px;
}
