.form_book {
    width: 80%;
    height: 1500px;
    margin: 10px auto;
    display: flex;
   
}
.form_book_info {
    width: 50%;
    height: 100%;
    border: solid black 1px;
}

.form_book_payment {
    width: 50%;
    height: 100%;
    border: solid black 1px;

}

.description{
    height: fit-content;
}

.form-check-input {
    position: relative !important; 
     margin-top: 8px !important ; 
     margin-left: 10px !important; 
}
.Line {
    stroke:rgb(0, 0, 0);stroke-width:7;
}

.titleContent{
    margin-left: 90px;
}

.DateBook {
    margin-left: 25%;
    height:80px;
}

.Guests_input {
     margin-left: 25%;
     width: 45%;
}    

._input {
    height: 100px;
}

.PaymentMethod {
    margin-left: 25%;
    display: flex;
}

.PaymentMethod >div {
    margin: 10px;
    padding: 20px;
}

.DepositePercent {
    display: flex;
    margin-left: 25%;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.DepositePercent >div{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border:1px solid black; 
}

.Deposite2 {
    background-color: black;
    color: white;
}

.AccompaniedService {
    margin-top: 20px;
     margin-left: 25%;
     width: 50%;
} 

.RoomRentalMethod {
      margin-top: 20px;
      margin-left: 25%;
      width: 50%;
      border: 1px solid black;
      margin-bottom: 20px;
      text-align: right;
}

.Day-Left {
    display: flex;
}

.RoomRentalMethodRow1{
    display: flex;
}

.RoomRentalMethodRow2{
    display: flex;
}

.Link {
    display: flex;
}

.iconShare {
    display: flex;
    padding: 10px;
}

.SaveButton {
    margin-left: 45%;
    background-color: darkred;
}

